* {
  border-style: solid;
  border: 1px;
  border-color: red;
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
}
.container{
  background-color:rgb(246, 246, 239);
  min-height: 100vh;
  display: grid;
  grid-template-rows: 1fr 70px;

}

main{
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: white;
  padding: 70px 30px;
width: 420px;
border-radius: 10px;
}

.logo {
    color: white;
  background-color: #FF6600;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-family:sans-serif ;
font-size:x-large;
margin-left: auto;
margin-right: auto;
}

h1{
    color: black; 
font-size:x-large;
text-align: center;
font-weight:600;
font-family: sans-serif;
}
.text{
    font-size:smaller;
    font-weight: lighter;
    font-family: sans-serif;
  color: slategray;
  margin: auto;
   
}

#email{
    border: 0;
    border-bottom:1px solid gray;
    display:block;
    box-sizing: border-box;
    padding: 6px;
    width: 100%;
}

#email:focus{
  outline: none;
    border-bottom:1px solid #FF6600 ;
}

button{
  display: block;
    height: 48px;
    margin-top: 20px;
    color: white;
    background-color: #FF6600;
    border: 0;
    border-radius: 4px;
    font-size:medium;
    font-weight: 550;
    box-sizing: border-box;
    width: 100%;
    text-align: center;
}
button:hover{
  cursor: pointer;
  background-color:orangered;
}

footer{
  display: flex;
  justify-content: center;
}

footer a{
  margin: 10px;
  text-decoration: none;
  color: black;
  font-size:small;
  font-weight: lighter;
}
footer a:hover{
  color: gray;
}